.boton-enviar1 {
    background-color: rgb(47, 224, 165); /* Color de fondo */
    border: none;
    color: black; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Bordes redondeados */
}